#display{

height:75px;
width:100%;

font-size:35px;
text-align:right;
padding:5px;


}

#but
{

height:75px;
width:150px;
background:skyblue;
margin:6px;
border:1px;

}


#op
{

height:75px;
width:150px;
background:skyblue;
margin:5px;
border:1px;

}


#eql
{

height:75px;
width:150px;
color:white;
background:red;
margin:5px;
border:1px;

}

#cls{

height:75px;
width:100%;
background:skyblue;
margin:5px;
border:1px;


}
